/* Padding Settings to remove whitespace */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }




/* -------------------------LOGIN PAGE------------------------- */

  /* Alignment of log in page */
  .log-in-page{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .username-div{
    display: flex;
    justify-content: center;
  }

  .password-div{
    display: flex;
    justify-content: center;
  }

  .log-in-button-div{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  /* Styling of log-in page */
  .portfolio-title{
    font-family:'Courier New', Courier, monospace;
    color: #EAEFFF;
    font-size: 100px;
    margin-top: 130px;
    margin-bottom: 30px;
    border: black solid;
    background-color: #35394F;
    border-radius: 50px;
    padding: 15px;
  }

  .username{
    font-size: 20px;
    margin: 20px;
    background-color: #EAEFFF;
    color: rgb(53, 57, 79);
    padding: 7px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
  }

  .password{
    font-size: 20px;
    margin: 20px;
    margin-bottom: 40px;
    background-color: #EAEFFF;
    color: rgb(53, 57, 79);
    padding: 7px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
  }

  .log-in-button{
    font-size: 20px;
    padding: 5px;
    color: rgb(53, 57, 79);
    background-color: #EAEFFF;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
  }

  .log-in-screen{
    background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=534122915e&attid=0.1&permmsgid=msg-a:r-4533140778047498143&th=1890d83947915bec&view=att&disp=safe&realattid=f_ljiw90xg0);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
  }

  #username-animate {
    width: 20vw;
    height: 2.5vh;
    overflow:hidden;
  }

  #password-animate {
    width: 20vw;
    height: 2.5vh;
    overflow:hidden;
  }




/* -------------------------HOME PAGE------------------------- */

  .home-screen{
    display: none;
    background-color: #EAEFFF;
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
  }

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #35394F;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Added a welcome message for the "user" */
.welcome{
  float: left;
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #EAEFFF;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #EAEFFF;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

/* Change background on hover */
.navbar a:hover {
  background: #EAEFFF;
  color: #35394F;
}

/* Added Margin for no overlap */
.about-tab{
  margin-top: 70px; /* Add a top margin to avoid content: center; overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
}

.about-title{
  text-decoration: underline;
}

.projects-tab {
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;

  /* The image used */
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=534122915e&attid=0.1.1&permmsgid=msg-f:1770508343439656360&th=18921bf5329605a8&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ90-HMUk_c1NjTbTrgQnRym7zmiW5gNgSlE_FZpIhpLkMqYWYAlz5XHyJj2rFyLV7FN7FrXQpFw1ss_hesqem-4RoRHRR3KrrBRkeyJYBJGwrRwMThE65Lc064&disp=emb");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-title{
  color: #EAEFFF;
  text-decoration: underline;
}